*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 200px;
    background-color: lightsalmon;
}
.menu{
    display: flex;
    justify-content: flex-end;
    padding: 80px;
}

.menu_box{
    display: flex;
    gap: 50px;
    list-style: none;
}

.menu_item{
    width: 100px;
    height: 50px;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 20px;
}

.mein_img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0% 70%;
}

.container{
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 50px;
}
.card{
    text-align: center;
}
.card_img{
    width: 500px;
    border-radius: 20px;
}
.title{
    font-size: 32px;
}

@media screen and (max-width:700px) {
  .container{
    flex-direction: column;
    row-gap: 10px;
  }
}

.grid_item{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    justify-content: center;
    
}
.item{
    width: 300px;
    height: 200px;
    background-color: darksalmon;
    border: 1px solid black;
    object-fit: contain;
}
.item_row1{
    width: 610px;
    height: 200px;
    background-color: darksalmon;
    grid-column: 1/3;
    border: 1px solid black;
    object-fit: contain;
}
.item_row2{
    width: 610px;
    height: 200px;
    background-color: darksalmon;
    grid-column: 3/5;
    border: 1px solid black;
    object-fit: contain;
}
.item_row3{
    width: 610px;
    height: 200px;
    background-color: darksalmon;
    grid-column: 5/7;
    border: 1px solid black;
    object-fit: contain;
}

/* @media screen and (max-width:700px) {
  .grid_item{
    flex-direction: column;
    row-gap: 10px;
  }
  .item{
    width: 100%;
  }
} */

footer{
    width: 100%;
    background-color: palevioletred;
    text-align: center;
}
